@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;800&display=swap');

:root{
    --dark-black: #1C1C1C;      /* generate a -- color */
    --dark-blue: #273549;       /* password div background color color */
    --aqua-green: #10b981;      /*'random password' / button color */
    --gray: #6B7280;            /* Sub header color && threee dots prepassword */
    --light-ass-aqua: #ECFDF5;  /* Container background color */
    --password-color: #55F991;  /* password color post generation*/
    --lightest-grey: #D5D4D8;   /* tiny line seperating top and bottom half color*/
    --white: #ffffff;           /* button lettering color */
}

html, body {
    margin: 0 auto;
    background-color: var(--dark-black);
    align-items: center;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 75px;
    align-items: center;
    background-color: var(--light-ass-aqua);
    padding: 45px;
    max-width: 700px;
}

.title {
    font-size: 3rem;
    font-weight: 500;
    color: var(--dark-blue);
    line-height: 3rem;
}

.title #random-password {
    color: var(--aqua-green);
}

.sub-heading {
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: .1em;
    color: var(--gray);
}

#generate {
    background-color: var(--aqua-green);
    border: 0;
    border-radius: .5rem;
    box-sizing: border-box;
    color: var(--white);
    font-size: .875rem;
    font-weight: 600;
    line-height: 1.25rem;
    padding: .75rem 1rem;
    text-align: center;
    text-decoration: none #D1D5DB solid;
    text-decoration-thickness: auto;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
     cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

#generate:hover {
    background-color: #1ea87a;
}

#generate:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
}

.button-38:focus-visible {
    box-shadow: none;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    
     -webkit-appearance: none; 
    margin: 0; 
}

input[type=number] {
    -moz-appearance: textfield;
}

#length {
    margin-left: 70px;
    width: 10%;
    border: none;
    font-size: 1rem;
    height: 40px;
    text-align: center;
}

.line {
    width: 95%;
    height: 3px;
    background-color: var(--gray);
    margin-top: 2em;
}

.bottom-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}


.left-wrapper {
    display: flex;
}
.right-wrapper {
    display: flex;
}

.top {
    padding-right: 20px;
}


.password {
    background-color: var(--dark-blue);
    color: var(--aqua-green);
    width: 250px;
    height: 30px;
    text-align: center;
    border-radius: .5rem;
    padding-top: .2rem;
}