@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;800&display=swap');

:root{
    --dark-black: #1C1C1C;      /* generate a -- color */
    --dark-blue: #273549;       /* password div background color color */
    --aqua-green: #10B981;      /*'random password' / button color */
    --gray: #6B7280;            /* Sub header color && threee dots prepassword */
    --light-ass-aqua: #ECFDF5;  /* Container background color */
    --password-color: #55F991;  /* password color post generation*/
    --lightest-grey: #D5D4D8;   /* tiny line seperating top and bottom half color*/
    --white: #ffffff;           /* button lettering color */
}

html, body {
    margin: 0 auto;
    background-color: var(--dark-black);
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 75px;
    align-items: center;
    background-color: var(--light-ass-aqua);
    padding: 45px;
}

.title {
    font-size: 3rem;
    font-weight: 500;
    color: var(--dark-blue);
    line-height: 3rem;
}

.title #random-password {
    color: var(--aqua-green);
}

.sub-heading {
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: .1em;
    color: var(--gray);
}

#generate {
    
}